DEVICE=bond0.{{ vlan_key }}
BOOTPROTO=none
ONBOOT=yes
IPADDR={{vlan_values[vlan_key]['ip']}}
PREFIX=24
NETWORK={{vlan_values[vlan_key]['network']}}
VLAN=yes
GATEWAY={{vlan_values[vlan_key]['gateway']}}
